.banner-principal-decorativo
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 42%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)  

//**/ Intro //**/

.color-intro 
  color: #0D2380

//**/ Tema 1 //**/

.imagen-decorativa-1
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 178rem
  right: 2%
  width: 38%  

.imagen-decorativa-2
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 250rem
  right: 59%
  width: 38%  

.imagen-decorativa-3
  position: absolute
  top: 469rem
  right: 62%
  width: 35%     

.lista-ul--color_t1 
  color: #FC502D

.cajon.color-t1
  background-color: #0D2380
  position: relative

.color-cajon-t1
  color: #FFFFFF

.cajon.color-t11
  background-color: #E4E6F1
  position: relative 

.cajon.color-t11:before 
  content: ''
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
  background-color: #FC502D

.cajon.tema13 
  margin-left: 10%
  margin-right: 10%
  
.acor-t14 
  margin-left: 9%
  margin-right: 2%
  width: 100%

.bg-3
  .tarjeta--azul 
    background-color: #E4E6F1


.bg-2
  .tarjeta--azul 
    background-color: #8e556105
    border-bottom: 1px solid

  .tarjeta.acordeonA
    background-color: #DADEEC

  .acordion__accion__btn--a
    background-color: #DADEEC !important

  .acordion__activo
    background-color: #DADEEC !important


.titulo-1
  margin-left: 18%
.titulo-11
  margin-left: 2% 
.titulo-12
  margin-left: 8%    
   
.color-cuadro
  background-color: #E4E6F1

.linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__year 
  font-weight: 900
  color: #FC502D



//**/ Tema 2 //**/

.cajon.color-t2
  background-color: #FFF2BF
  position: relative 

.cajon.color-t2:before 
  content: ''
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
  background-color: #FC502D

.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #FFFFFF
  
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #DADEEC

.crd--avatarHorizontal2
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #FFFFFF
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #0D2380     

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: #0D2380 !important

.crd--first
  &::before 
    border-top-left-radius: 30px

.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none

.txt-t2
  color: #FFFFFF

.txt-t22
  color: #000000 

.color-acento-botones-puntos
  background-color: #FFFFFF

.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after 
  background-color: #d3d3d308

.txt-cj2
  margin-left: 50%

.slyder__btn 
    display: block
    width: 30px
    height: 30px
    position: relative
    background-color: #FC502D
    margin-left: 15px
    color: #FFFFFF

  
////// Slides //////

.slyder-a__bullets__item--active 
    background-color: #FC502D
    border-color: #FC502D
    opacity: 1
    
.over-tarj.t2 
  width: 100%
  height: 100%
  text-align: center


// Acordeon 2 

.bg-1
  .tarjeta--azul 
    background-color: #dadeec
    border-radius: 10px
  .acordion__activo
    background-color: #0D2380 !important
    p, h3
      color: #FFFFFF
    .h1, .titulo-principal__numero span, .h2, .h3, .h4, .h5, .h6
      color: #FFFFFF  
    .acordion__accion__btn--b 
      border: 1px solid #FFFFFF


///////// Card hover --------------------------------------

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      width: 100%
      height: 100%
      text-align: center

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - -0.15rem ))
    background-color: #f8eabdc4
    width: 100%
    height: 100%
    text-align: center
    
  .crd_hover_txt--body
      p
        font-size: 0.85em  

//// Tarjetas --------------------------------------
.crd
  &.brd--rad
    border-radius: 20px 
  &.crd--grayGrad
    padding: 2rem
    height: 100%
    background-color: #F6F6F6
    border-radius: 15px    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    &:hover      
      background: #0D2380
      //background: linear-gradient(180deg, rgba(25,137,226,1) 0%, rgba(10,81,139,1) 100%)
      h4, p
        color: white 
      .bottomCircle
        &::before
          background-color: #FED981
  &.crd--blue
    background-color: #B1DBEA

  &.crd--border
    border: 4px solid $color-acento-botones
    border-radius: 20px

.bottomCircle
  position: relative
  & > *
    position: relative
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 115px
    height: 115px
    background-color: #116EB9
    border-radius: 999px 

.tarjeta--amarilla-1
  background-color: #0D2380


.tarjeta--gris 
    background-color: #E4E6F1


@media (max-width:500px)
    .crd--avatarHorizontal::before 
      width: calc( 100% - 0px)
      margin-left: 10%

.left-text
    margin-left: 26%
    
@media (max-width:500px)
  .left-text
    margin-left: 10%

/// Tema 3 ////  

.cajon.color-t3
  background-color: #E4E6F1
  position: relative 

.cajon.color-t3:before 
  content: ''
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
  background-color: #0D2380

.tema3-img1 
    width: 60%
    margin-left: 27%

.imagen-T3-9
    margin-left: 10%

.titulo-T3-9
    margin-left: 8%    

.tarjeta.color-acento-botones-t3
    color: #FFFFFF
   